.hatter {
  margin: 0px 0;
  background-color: rgb(107, 106, 106);
}

.navbar-szin {
  margin: 0 auto;
  background-color: black;
}

.logo {
  height: 80px;
  width: 80px;
  padding-right: 10px;
}

.kartya {
  background-color: #1a1a1a;
  margin-bottom: 50px;
  margin-top: 20px;
  border-left: 5px solid blue;
  border-right: 5px solid blue;
}

.kartya-item {
  margin-left: 20px;
  margin-right: 20px;
  height: fit-content;
  width: fit-content;
  color: white;
  text-align: left;

}

p {
  margin-top: 20px;
}

.balkartya {
  background-color: #1a1a1a;
  width: 350px;
  height: 600px;
  margin-bottom: 50px;
  border-left: 5px solid blue;
  border-right: 5px solid blue;

}

.nagybetu{
font-size: large;
}